.blog-detail-container {
    display: flex;
    margin-right: 10%;
    padding-left: 10%;
    margin-top: 10px;
  
    @media screen and (max-width: 768px) {
      flex-direction: column; /* Chuyển thành dạng cột trên màn hình nhỏ */
      margin-right: 0;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  
  .blog-detail {
    h1 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
  

  